 <!-- Footer 
 <footer class="py-5 bg-dark" >
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
  </div>
</footer>
-->
<app-header>

  </app-header>
  <div class="container">
  
    <!-- Page Heading -->
    <h1 class="my-4">Page Heading
      <small>Secondary Text</small>
    </h1>
    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item" *ngFor="let listfilmsdata of listfilms" >
        <div class="card h-100">
          <a [routerLink]="['listfilmscontent',listfilmsdata?.filmid]" ><img class="card-img-top" [src]="listfilmsdata?.filmresim"  alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a [routerLink]="['listfilmscontent',listfilmsdata?.filmid]" style="font-size: 15px;">{{listfilmsdata?.filmadi}}</a>
            </h4>
            <p class="card-text">{{listfilmsdata?.filmicerik |slice:0:180}}...</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->             


<p>With boundary links:</p>
<ngb-pagination [collectionSize]="movieCount" [pageSize]="6" [(page)]="page" [boundaryLinks]="true" (pageChange)="onPageChange($event)" ></ngb-pagination>

<hr>

<!--<pre>Current page: {{page}}</pre>
</div>
-->