<app-header></app-header>
<div class="container" style="padding-bottom:50px;">

  <div class="row">

    <div class="col-lg-9">

      <div class="card mt-4">
        <img class="card-img-top img-fluid" [src]="superusermovieReviewContent?.filmresim" alt="Error">
        <div class="card-body">
          <h3 class="card-title">{{superusermovieReviewContent?.filmadi}}</h3>
          <h4>Elestiren Kullanici: {{superusermovieReviewContent?.kullaniciadi}}</h4>
          <p class="card-text">{{superusermovieReviewContent?.elestiriicerik}}</p>
          
        </div>
        
      </div>
      
      <!-- /.card -->
 


    </div>
    <!-- /.col-lg-9 -->
    <div class="col-lg-3">
    
      </div>
      <!-- /.col-lg-3 -->

  </div>
  
</div>